@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes move {
    0% {
      transform: translateX(100%);
      opacity: 0.5;
      filter: blur(3px);
      -webkit-filter: blur(3px);
}
    50% {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0); 
    }
    100% {
      transform: translateX(-100%);
      opacity: 0.5;
      filter: blur(3px);
    }
  }
  
  .animate-move {
    animation: move 50s infinite linear;
    -webkit-animation: move 50s infinite linear;
}
  
.highlighted-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0, 122, 255, 1); /* Adjust the color as needed */
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.25) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset, 0px -2px 2px 0px rgba(0, 0, 0, 0.15) inset;
}
.box-shadow-initial:hover {
  box-shadow: 10px 10px 18px 18px rgba(0, 83, 168, 0.20) inset, 0px 0px 16px 0px rgba(6, 119, 230, 0.55);
  backdrop-filter: blur(18px);
}