@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes move {
    0% {
      transform: translateX(100%);
      opacity: 0.5;
      filter: blur(3px);
      -webkit-filter: blur(3px);
}
    50% {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0); 
    }
    100% {
      transform: translateX(-100%);
      opacity: 0.5;
      filter: blur(3px);
    }
  }
  
  .animate-move {
    animation: move 15s infinite linear;
    -webkit-animation: move 15s infinite linear;
}
  